@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
    margin: 0px;
    padding:0px;
}
body{

    background: url('./Bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    /* background-color:#263238; */
    /* background: linear-gradient(to left,#06beb6 , #00cdac); */
}
.ProfileCardWraper{
    height:100vh;
    width:100vw;
    background-color:rgba(68, 68, 68, 0.247);
}
.Profile{
    height:350px;
    width:400px;
    background-color:rgba(255,255,255,0.1);
    backdrop-filter:blur(15px);
    text-align: center;
    font-weight:500;
    color: #f7f7f7;
    font-size:14px;
    letter-spacing:.5px;
    margin-bottom:30px;
}
.ProfileImage{
    height:120px;
    border-radius:50%;
    margin: 30px 0px;
}
.ProfileName{
    font-size:20px;
    margin-bottom:5px;
}
.ProfileDes{
    font-size:14px;
    margin-bottom:30px;
}
.ProfileContent{
    position: absolute;
    top:50%;
    left:50%;
    border-radius:5px;
    transform: translate(-50%,-50%);
    width:400px;
}
.SocialLinks{
    height:40px;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
}